body {
    color: white;
    margin: 0px;
    display: grid;
}

/*NAVBAR - MENU*/
#navbar {
    margin-top: 0px;
    padding: 1px;
    width: 100%;
    max-height: 65px;
    background-color: rgb(176, 209, 183);
}

#navList {
    margin-left: 5%;
    display: flex;
    justify-content: ;
}

.li{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    list-style: none;
    gap: 0. 5%;
    transition: transform 0.2s;
}
.li :hover{
    font-family: 'Roboto', sans-serif;
    color: rgb(20, 31, 2);
    transform: scale(1.05);
    transition: transform 0.2s;
}

#navList a{
    text-decoration: none;
    color: rgb(51, 66, 35);
    margin-left: 1%;
}


/*BACKGROUND INICIAL*/
.apresentation  {
    background-image: url(img/plantarArvore-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
    padding: 30px;  
}


/*CARDS TEXTUAIS PÁGINA PRINCIPAL*/
.title {
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 23px;
    max-width: 700px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}


.cards {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    transition: transform 0.5s;
}
.cards :hover {
    transform: scale(1.02);
    transition: transform 0.2s;
}

.cardsObjects {
    font-size: 18px;
    background-color: rgb(170, 190, 148);
    padding: 20px;
    margin-bottom: 1%;
    border-radius: 25px;
    max-width: 400px;
    height: 200px;
}


.cardsObjects h2 {
    font-size: 23px;
}
